spring:
  application:
    name: config-server
  profiles:
#    active: native #only for classpath or local file system
    active: git
  cloud:
    config:
      server:
        git:
          uri: https://github.com/andriik7/microservices-bank-config.git
          default-label: main #needed when there are more than 1 branch
          timeout: 5
          clone-on-start: true #to clone GitHub repo into local system
          force-pull: true #to pull from remote repo and rewrite local config downloaded before
#        native:
#          search-locations: C:\ANDREW\Study\Pogramming\JAVA\Spring\Microservices\EazyBytes_Course\Documents\Microservices-bank-config #import config from local system
#          search-locations: classpath:/config   #import config from project


management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

encrypt:
  key: 1T78YUHF7B5DI75YuR850YEIJ

server:
  port: 8071